body, p{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 1em;
}
nav a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav img{
    height: 20px;
}
main{
    width: 50%;
    margin: 6.9em auto;
    text-align: center;
}
main input{
    width: 80%;
    height: 34px;
    border-radius: 30px;
    border: 1px solid grey;
}
.btnContainer{
    margin-top: 1em;
}
.btnContainer button{
    padding: 1em;
    border: none;
    transition: all 0s ease 0s;
}
.linkLabels{
    padding: 2em;
}
.linkLabels a{
    padding: 1em;
    color: blue;
    margin-right: 1em;
    margin-top: 4px;
    text-decoration: none;
}
footer{
    background-color: rgb(240, 240, 240);
}
.footerTop{
    padding: 1em;
}
.footerBottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}
.left a{
    margin-right: 2em;
}
.right a{
    margin-right: 2em;
}